@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant monkey (&:where(.monkey, .monkey *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-brian-100: var(--color-blue-500);
}

@layer theme {
  .dark {
    --color-brian-100: var(--color-green-500);
  }
}

@layer theme {
  .monkey {
    --color-brian-100: var(--color-purple-200);
  }
}